body {
	background-color: lavender;
	text-align: center
}

.div-title{
	margin: 50px;
}

.box-gray{
	box-sizing: border-box;
	background-color: #BBB;
	padding: 25px;
	text-align: center
}

.error{
	color: #A00;
}