body {
	background-color: lavender;
	text-align: center
}

.div-title{
	margin: 50px;
}
.div-center{
	margin-left: auto ;
	margin-right: auto ;
	align-items: center;
}
.div-space{
	margin: 20px;
}

div.or {
  width: 500px;
}